body {
       font-family: 'Open Sans', sans-serif;
}
.top {
       margin: 2%;
}
#chat {
       height: 50%;
}
.centered {
       text-align: center;
}
.part {
       margin-top: 7%;
}
.analytics {
       margin-bottom: 5%;
}
#loading {
       text-align: center;
}
.loader {
       display: inline-block;
}
#progress {
       width: 50em;
}
.error {
       color: red;
}
.errorHolder {
       display: None;
}
#go {
       display: inline-block;
}
#promo {
       font-size: 10;
}
